// Estilo del encabezado 

header {
    background-color: black;
    display: flex;
    gap: 20px;
    grid-gap: 20px;

    .logo {
        width: 100px;
    }

    .navbar {
        display: flex;
        align-items: center;

        .menu {
            display: flex;
            list-style: none;
            gap: 10px;
            grid-gap: 10px;
            .menu-item a {
    color: white;
    text-decoration: none;
}
        }
    }
}

// Estilo del pie de página

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

    .redes-sociales {
        display: flex;
        justify-content: center;
        gap: 30px;

        margin-bottom: 15px;
    }

    img {
        width: 30px;
        height: 30px;
        object-fit: contain;

        transition: .3s ease;
    }
    
    img:hover {
        transform: translateY(-3px);
        opacity: .8;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;

        transition: .3s ease;

        &:hover {
            transform: translateY(-3px);
            opacity: .8;
        }

    }       
}