// Estilo de la sección de integrantes

.contenedor-grid-integrantes {
    display: grid;
    gap: 60px;
    padding: 50px;
    background-color: #121212;
}

.integrante {
    display: grid;
    grid-template-columns: 400px 1fr;

    align-items: center;
    justify-items: center;

    gap: 40px;

    background-color: #181818;
    border-radius: 20px;
    padding: 40px;

    color: white;

    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 350px;
        height: 450px;

        object-fit: cover;

        border-radius: 15px;

        display: block;
        margin: 0 auto;

        justify-self: center;

        transition: transform 0.4s ease;

        &:hover {
            transform: scale(1.03);
        }
    }

    h2 {
        font-size: 4rem;
        margin-bottom: 20px;
        text-align: left;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #d0d0d0;
    }
}

.info-integrante {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
